.head{
  text-align: center;
  color: limegreen;
  /* background-color: yellow; */
  padding: 20px;
  font-size: 30px;
  margin-bottom: 1px;
  
}
.foot{
  text-align: center;
  /* background-color:rgb(174, 233, 147); */
  color: black;
  padding: 5px;
}
.rules{
  /* background-color: darkkhaki; */
  padding: 10px;
  margin-bottom: 1px;
}
.temp
{
  display: inline-block;
  border: solid 1px black;
  margin-right :35px;
  margin-left: 175px;
  padding: 10px;
}
.btn{
  margin-right: 5px;
}